<div class="wrapper style4">
  <article id="contact" class="container 75%">
    <header>
      <h2>Say Hello!</h2>
      <a href="mailto:matej@radishtech.solutions" class="icon fa-envelope">
        Matej@radishtech.solutions</a
      >
    </header>
    <div>
      <div class="row">
        <div class="12u">
          <h3>Or find me on ...</h3>
          <ul class="social">
            <li>
              <a
                target="_blank"
                href="https://twitter.com/MatejNavara"
                class="icon fa-twitter"
                ><span class="label">Twitter</span></a
              >
            </li>
            <li>
              <a
                target="_blank"
                href="https://uk.linkedin.com/in/matejnavara"
                class="icon fa-linkedin"
                ><span class="label">LinkedIn</span></a
              >
            </li>
            <li>
              <a
                target="_blank"
                href="http://www.facebook.com/matej.navara"
                class="icon fa-facebook"
                ><span class="label">Facebook</span></a
              >
            </li>
            <li>
              <a
                target="_blank"
                href="https://www.instagram.com/matejnavara"
                class="icon fa-instagram"
                ><span class="label">Instagram</span></a
              >
            </li>
            <li>
              <a
                target="_blank"
                href="https://github.com/matejnavara"
                class="icon fa-github"
                ><span class="label">Github</span></a
              >
            </li>
            <li>
              <a
                target="_blank"
                href="http://www.radishtech.solutions"
                class="icon fa-users"
                ><span class="label">Radish Tech Solutions</span></a
              >
            </li>
            <!--<li><a href="#" class="icon fa-skype"><span class="label">Skype</span></a></li>-->
          </ul>
          <hr />
        </div>
      </div>
    </div>
    <footer>
      <ul id="copyright">
        <li>&copy; Matej Navara 2021. All rights reserved.</li>
      </ul>
    </footer>
  </article>
</div>
