<div class="wrapper style4">
  <article id="contact" class="container 75%">
    <header>
      <h2>Say Hello!</h2>
      <a href="mailto:matej@radishtech.solutions" class="icon fa-envelope">
        Matej@radishtech.solutions</a
      >
    </header>
    <div>
      <div class="row">
        <div class="12u">
          <h3>Or find me on ...</h3>
          <ul class="social">
            <li>
              <a
                target="_blank"
                href="https://uk.linkedin.com/in/matejnavara"
                class="icon fa-linkedin"
                ><span class="label">LinkedIn</span></a
              >
            </li>
            <li>
              <a
                target="_blank"
                href="https://github.com/matejnavara"
                class="icon fa-github"
                ><span class="label">Github</span></a
              >
            </li>
            <li>
              <a
                target="_blank"
                href="http://www.radishtech.solutions"
                class="icon fa-laptop"
                ><span class="label">Radish Tech Solutions</span></a
              >
            </li>
            <li>
              <a
                target="_blank"
                href="http://rocketsquid.tech"
                class="icon fa-rocket"
                ><span class="label">Rocket Squid</span></a
              >
            </li>
            <li>
              <a
                target="_blank"
                href="http://www.facebook.com/matej.navara"
                class="icon fa-facebook"
                ><span class="label">Facebook</span></a
              >
            </li>
            <li>
              <a
                target="_blank"
                href="https://www.instagram.com/matejnavara"
                class="icon fa-instagram"
                ><span class="label">Instagram</span></a
              >
            </li>
          </ul>
          <hr />
        </div>
      </div>
    </div>
    <footer>
      <ul id="copyright">
        <li>
          &copy; Matej Navara
          <script>
            document.write(new Date().getFullYear());
          </script>
          . All rights reserved.
        </li>
      </ul>
    </footer>
  </article>
</div>
